/* Some minimal styling for the static example. */
h1 {
  text-align: center;
}
#select2-drop{
    width: 400px !important;
}
.select2-container {
min-width: 400px!important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  width:100%;
  vertical-align:middle;
}
img {
  vertical-align: middle;
}
div {
  height:40px;
  width:100%;
  margin-bottom:30px;
}
.select2-container {
    display:block!important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
        display:inline-block!important;
        max-width:85%;
        padding-right:5px!important;
}
.select2-selection__clear, .select2-selection__rendered {
        vertical-align: -webkit-baseline-middle;
}
.select2-results ul > li {
        font-weight:400;
        font-size:14px;
}
.select2-rendered__match {
        font-weight:600;
}
